$bg-color-box :#f3f5f7;
$white:white;
.foWard{
    height: 200px;
    position: relative;
    background-color: $bg-color-box;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $bg-color-box;
    transition: .3s; 
    &:hover{
        cursor: pointer;
        border-color: var(--background-color);
        background-color: $white;
        box-shadow: 0 10px 30px rgba(14,166,59,.2);
    }
    & button {
        position: absolute;
        bottom: 10px;
        padding: 8px 20px;
        background: var(--background-color);
        color: $white;
        font-size: 1.4rem;
        border-radius: 5px;
        font-weight: 600;
    }
}