.sidebar{
    position: fixed;
    z-index: 100;
    background: white;
    top: 47px;
    left: 0;
    bottom: 0;
    width: 250px;
    //height: 100%;
    overflow-y: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &::-webkit-scrollbar{
        //width: 5%;
        display: none !important;
    }
    &:hover::-webkit-scrollbar{
        display: block !important;
    }
    &-header{
        border-bottom: 1px solid #ccc;
    }
    &-content{
        color: #333333;
        font-size: 1.2rem;
        & a:hover{
            background: #e7e4e4;
            border-radius: 2px;
            cursor: pointer;
            color: var(--background-color);
            & span{
                font-weight: 600;
            }
        }
        &-linkSelected{
            background: #e7e4e4;
            border-radius: 2px;
            cursor: pointer;
            color: var(--background-color);
            & span{
                font-weight: 600;
            }
        }
        &-linkAccount{
            border-top: 1px solid #ccc;
        }
    }
}