.wrapper{
    border-top: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    &__logo{
        font-family: "Bungee", sans-serif;
        & h1{
            font-size: 4rem;
            color: var(--background-color);
            font-weight: 600;
        }
        & span{
            font-size: 2rem;
            padding: 0 5px;
            border: 2px solid;
            color: var(--background-color);
            &::before{
                content: "";
                position: absolute;
                width: 100px;
                height: 3px;
                left: -100px;
                top: 50%;
                background-color: var(--background-color);
            }
        }
        &-slogan{
            font-size: 1rem;
            margin-bottom: 7px;
        }
    }
    &__contact{
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        &-left{
            width: 30%;
        }
        &-right{
            width: 70%;
        }
    }
    &__Ecosystem{
        &-box{
            padding: 15px;
            border-radius: 5px;
            background: var(--background-color);
            color: white;
            font-size: 1.3rem;
        }
    }
}