@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root { 
    --background-color : #76417e;
    --var-font-family: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    overflow: hidden;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    font-family: var(--var-font-family);
    height: 100%;
}
#root{
    height: 100%;
}
.App{
    height: 100%;
}