.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    background-color: var(--background-color) !important;
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root{
    font-size: 1.5rem !important;
    font-family: var(--var-font-family) !important;
}
.css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon{
    font-size: 2.5rem !important;
}