.wrapper{
    &__title{
        font-size: 1.4rem;
        font-weight: 600;
    }
    &__content{
        & input{
            padding: 10px 30px 10px 40px;
            font-size: 1.4rem;
            font-weight: 500;
            color: #212529;
            border: 0.5px solid #ccc;
            &:focus{
                border: 0.5px solid #212529;
                outline-color: #212529;
                outline-width: 0.5px;
                outline: none;
            }
            &::placeholder{
                color: #6c758e;
            }
        }
        &-errorIp{
            border-color: red !important;
        }
        &-error{
            color: red !important;
        }
        &-icon{
            margin-left: 10px;
            font-size: 1.5rem;
            color: var(--background-color);
        }
        &-iconIsShow{
            margin-right: 10px;
            font-size: 1.5rem;
            color: var(--background-color);
        }
    }
}